[Desktop Entry]
Type=Application
Name=Welcome to EnigmarsOS
Exec=enigmarsos-welcome
Icon=enigmarsos
Terminal=false
Categories=System;
X-KDE-autostart-phase=1
X-GNOME-Autostart-enabled=true
OnlyShowIn=KDE;
