[Desktop Entry]
Type=Application
Name=Welcome to EnigmarsOS
Exec=sh -c "if [ -d /run/archiso ]; then exec enigmarsos-welcome; fi; command -v enigmars-util >/dev/null && exit 0; exec enigmarsos-welcome"
Icon=enigmarsos
Terminal=false
Categories=System;
X-KDE-autostart-phase=1
X-GNOME-Autostart-enabled=true
OnlyShowIn=KDE;
