[Desktop Entry]
Type=Application
Name=Welcome to EnigmaOS
GenericName=Welcome
Comment=EnigmaOS welcome, updates, gaming and documentation
Exec=enigmaos-welcome
Icon=enigmaos
Terminal=false
Categories=System;Utility;
Keywords=welcome;setup;enigma;update;gaming;
StartupNotify=true
X-KDE-autostart-after=panel
